button:focus{
    outline: none;
}

.card{
    width: 300px;
    min-height: 500px;
    background-color: #F76C6C;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vh;
    margin-right: 20px;
    box-shadow: 11px 11px 11px rgba(56, 48, 48, 0.62);
    border-radius: 10px;
    position: relative;
    justify-content: space-around;
}
.top-card{
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}
.img-card{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}
.identity{
    width: 100%;
    margin-top: -50px;
    text-align: center;
    color: white;
}
.identity h2{
    text-transform: capitalize !important;
    margin-bottom: 5px;
}
.expertise-element{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.myexpertise{
    text-align: center;
    color: white;
    font-style: italic;
    margin-top: -10px;
}
.social{
    width: 200px;
    margin: 0px auto 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social a{
    color:#F76C6C !important;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social a:last-child{
    cursor: pointer;
}
.box-social{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    box-shadow: 0px 0px 12px 2px #F9A1A1;
}
.break{
    width: 150px;
    height: 5px;
    margin: 5px auto;
    background-color: white;
}
.back-card{
    background-color: #F76C6C;
    width: 300px;
    min-height: 590px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 0;
    animation: fadeCard 2s linear forwards;
}

@keyframes fadeCard{
    to{
        opacity: 0;
    }
    from{
        opacity: 1;
    }
}

.backcard-1{
    width: 300px;
    min-height: 500px;
    padding: 10px 0;
    background-color: #F76C6C;
    border-radius: 10px;
    position: absolute;
    top: 0;
    z-index: -10;
    color: white;
    text-align: left;
  }
  .showBackcard{
      z-index: 1!important;
      animation : scaleCard .4s ease-in forwards;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  @keyframes scaleCard{
      from{
        transform: translateX(0px);
        opacity: 0;
      }to{
          transform: translateX(10px);
          opacity: 1;
          box-shadow: 11px 11px 11px rgba(56, 48, 48, 0.62);
      }
  }
  .moreInfo{
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    cursor: pointer;
    background-color: transparent;
    border: transparent 0px solid;
    margin-left: auto;
}
.backcard-1 .moreInfo{
    margin-right: auto;
    margin-left: 0px;
    align-self: end;
}
.arrowbtn{
    width: 70px;
    height: 40px;
}
.container-card-element{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
.title-card{
    font-size: 1.4rem;
    font-weight: 700;
    margin: 10px 0px 10px 8px;
}
.element-card{
    margin: 0px 0px 0px 16px;
    text-transform: capitalize;
}

.backanim{
    animation: backanim .3s ease-in forwards;

}
@keyframes backanim{
    from{
        transform: translateX(10px);
      }to{
          transform: translateX(0px);
      }
}