<<<<<<< HEAD
.Nav {
    position: absolute;
    bottom: 40%;
    z-index: 2;
=======
.navbar{
>>>>>>> presentation
    background-color: black;
    padding: 0;
    margin-bottom: auto;
    z-index: 1000;
    width: 100%;
    color: #F76C6C;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in;
    height: 50px;
    ul{
        list-style: none;
        display: flex;
        li{
            margin-right: .7rem;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: .12rem;
        }
    }
}
.navbar-black{
    background-color: black;
    position: fixed;
    height: 50px;
    top: 0;
}