   .hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    margin-bottom: 20px;
  }
  .shadow{
    background-color: rgba(0, 0, 0, 0.53);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


.hero-animation{
    color: white;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    perspective: 1000px;
    background-color: #000;
}
.afterMessage{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    animation: rotate 3s 14s linear forwards;
    transform: scale3d(1, 0, -0.8) perspective(10000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
}
.hero-fix{
    font-size: 4em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-family: 'StarJedi';

}
.hero-fix-sd{
    font-size: 4em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
    font-family: 'StarJedi';

}
@keyframes rotate{
    from { transform: scale3d(1,0,-0.8) translate(-50%, -50%); }
    to {transform: scale3d(1,1,1) translate(-50%, -50%) ;  }
}

.gib{
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: perspective(1000px) rotateX(20deg) rotateY(0deg) rotateZ(0deg);
    z-index: 10;
    border: 1px;
}    
.gib-element{
    height: 50%;
    width: 100%;
    transform: translateY(1000px);
    animation: translatemessage 15s linear forwards;
}
@keyframes translatemessage{
    0%{
        transform: translateY(1000px);
    }
    100%{
        transform: translateY(-1000px);
    }
}
.element-anim{
    line-height: 5vh;
    font-size: 3rem;
}



.containerPlanet{
    position: relative;
    width: 100%;
    height: 100vh;
    perspective: 100px;
    transform: perspective(1000px);
}
.star{
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    transform: translateZ(-1000px);
    animation: stars 2s linear infinite;
    opacity: 0.5;
}
.star:nth-child(1){
    top: 46%;
    animation-delay: .5s;
}
.star:nth-child(2){
    top: 25%;
    animation-delay: .2s;
}
.star:nth-child(3){
    bottom: 25%;
    animation-delay: .27s;
}
.star:nth-child(3){
    bottom: 13%;
    left: 14%;
    animation-delay: .34s;
}
.star:nth-child(4){
    bottom: 5%;
    left: 27%;
    animation-delay: .17s;
}
.star:nth-child(5){
    bottom: 25%;
    right: 7%;
    animation-delay: .75s;
}
.star:nth-child(6){
    bottom:42%;
    right: 19%;
    animation-delay: .7s;
}
.star:nth-child(7){
    top:15%;
    right: 12%;
    animation-delay: .4s;
}
.star:nth-child(8){
    top:22%;
    left: 9%;
    animation-delay: .4s;
}
.star:nth-child(9){
    top:50%;
    left: 25%;
    animation-delay: 0.7s;
}
.star:nth-child(10){
    bottom:30%;
    right: 40%;
    animation-delay: .5s;
}
.star:nth-child(10){
    top:15%;
    left: 10%;
    animation-delay: .1s;
}
.star:nth-child(11){
    top:12%;
    right: 19%;
    animation-delay: .7s;
}
.star:nth-child(12){
    bottom:27%;
    left: 17%;
    animation-delay: 0.8s;
}
.star:nth-child(13){
    top:50%;
    left: 25%;
    animation-delay: 0.9s;
}
.star:nth-child(114){
    bottom:30%;
    right: 40%;
    animation-delay: 1.1s;
}
.star:nth-child(15){
    top:15%;
    left: 10%;
    animation-delay: 1s;
}

@keyframes stars{
    to{
        transform: translateZ(500px) scale(0.1);
        opacity: 1;
    }
}